<!-- navbar.component.html -->


<nav class="navbar navbar-expand-lg navbar-light transparent-navbar">
  <div class="container">
    <!-- Left side elements with big width padding -->
    <div class="d-flex justify-content-start left-elements">
      <a class="nav-link" href=" ">Home</a>
      <a class="nav-link" href="app-about">AboutUs</a>
        <a class="nav-link"  href="app-events">Events</a>
   

    </div>

    <!-- Logo in the center -->
    <a class="navbar-brand mx-auto" href="#">
      <img src="assets/images/logo3.png" alt="Logo" height="80" width="230">
    </a>

    <!-- Right side elements -->
    <div class="d-flex justify-content-end right-elements">

      <!-- Dropdown for Portfolios -->
      
      <a class="nav-link" href="app-portfolios">Portfolios</a>
      

      <a class="nav-link" href="app-contactus">ContactUs</a>
      <a class="nav-link" href="app-login">Login</a>
      <!-- <h5 style="text-align: center;font-size: small;color:white" >welcome{{userIdentity}}</h5> -->


    </div>
  </div>
</nav>




<router-outlet class=""></router-outlet>
